{% extends 'index.html' %}

{% block content %}
<h2>Welcome to app home page</h2>
<!---{{posts}}-->

{% for post in posts %}
<h6>{{post.title}}</h6>
<b>{{post.author}}</b>
<i>{{post.created_dt}}</i>
<p>{{post.description}}</p>
<img src='{{post.img.url}}' width = "320" height="240">
<div style="margin: 10px auto;">
    <!---<video autoplay="autoplay" controls="controls" preload="preload">-->
    <video width = "320" height="240" controls>    
        <source src="{{post.vediofile.url}}" type="video/mp4"></source>
    </video>
</div>


{% endfor %}


{% endblock content %}